.Scroll-up-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 90vh;
  right: 19px;
  opacity: 0;
  pointer-events: none;
  background: #bb5a0040;
  position: fixed;
  box-shadow: 2px 2px 3px #999;
  z-index: 2;
  cursor: pointer;
  transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

.Scroll-up-btn::after,
.Scroll-up-btn::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 3px;
  background: white;
  top: calc(50% - 5px);
}

.Scroll-up-btn::after {
  transform: rotate(45deg);
  left: calc(50% - 4px);
}

.Scroll-up-btn::before {
  transform: rotate(-45deg);
  right: calc(50% - 4px);
}

.Scroll-up-btn.show {
  opacity: 0.3;
  pointer-events: all;
}

.Scroll-up-btn.show:hover {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .Scroll-up-btn {
    width: 30px;
    height: 30px;
  }

  .Scroll-up-btn::after,
  .Scroll-up-btn::before {
    width: 13px;
    top: calc(50% - 2px);
  }

  .Scroll-up-btn::after {
    left: calc(50% - 3px);
  }

  .Scroll-up-btn::before {
    right: calc(50% - 3px);
  }
}
