body {
  color: #ffffff;
  /* font-weight: bolder; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll;
  height: 100vh; */
  /* scroll-snap-points-y: repeat(100vh); */
  /* scroll-snap-type: y mandatory; */
}

body::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}

.header {
  background: rgb(var(--icon-background));
  min-height: 3em;
  padding: 13px 50px;
  flex: 0 1 auto;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.burger-menu,
.top-links {
  animation: 1s ease-in-out 1 appearence;
}

.content {
  min-height: calc(100vh - max(10px, 5vh));
  scroll-snap-align: center;
}

.agitate {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-section-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgb(var(--background-orange-start)),
    rgb(var(--background-orange-end))
  );
  flex: 1 1 auto;
  background-image: url("/img/girl-stupid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section-content .request-free-lesson-button {
  padding: 10px;
  box-shadow: 1px 1px 12px 2px rgb(var(--box-shadow));
  background: rgba(var(--icon-background), 0.9);
  border-radius: 10px;
  text-align: center;
}

.main-section-content .request-free-lesson-button:hover {
  box-shadow: 1px 1px 12px 2px rgb(var(--box-shadow));
  background: rgb(var(--icon-background));
}

.bottom-promo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-promo .promo-item {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 30px;
}

.bottom-promo .promo-item h2,
.bottom-promo .promo-item p {
  text-align: center;
}

.bottom-promo .promo-item img {
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.welcome .top-links,
.agitate,
.bottom-promo {
  text-shadow: 2px 0 var(--text-shadow), -2px 0 var(--text-shadow),
    0 2px var(--text-shadow), 0 -2px var(--text-shadow),
    1px 1px var(--text-shadow), -1px -1px var(--text-shadow),
    1px -1px var(--text-shadow), -1px 1px var(--text-shadow);
}

.content.tg {
  background: rgba(var(--light-blue), 1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.tg-title {
  width: 100%;
  text-align: center;
  padding: 15px;
  /* color: rgb(var(--const-black)); */
  color: rgba(var(--icon-background), 0.9);
  z-index: 2;
}

.tg-content {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 70px;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}

.tg-content .pic {
  max-width: 50%;
  max-height: 80%;
  height: unset;
  z-index: 2;
}

@keyframes ball1 {
  0% {
    opacity: 0.5;
    left: 0px;
    top: -20px;
    width: calc(100vh / 5);
    height: calc(100vh / 5);
  }

  50% {
    opacity: 0.9;
    left: 40%;
    top: 100%;
  }

  100% {
    opacity: 1;
    width: calc(100vh / 3);
    height: calc(100vh / 3);
    left: calc(100% - calc(100vh / 3 - 20px));
    top: -40px;
  }
}

.tg-content::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #ffac00a0;

  z-index: 1;
  /* */
  width: calc(100vh / 3);
  height: calc(100vh / 3);
  left: calc(100% - calc(100vh / 3 - 20px));
  top: -40px;
  /* */
  animation: 6s ease-in-out 1 ball1;
}

@keyframes ball2 {
  0% {
    opacity: 0.5;
    left: 50%;
    top: 50%;
    width: calc(100vh / 5);
    height: calc(100vh / 5);
  }

  50% {
    opacity: 0.9;
    left: 40%;
    top: -30%;
  }

  100% {
    opacity: 1;
    width: calc(100vh / 8);
    height: calc(100vh / 8);
    left: 4px;
    top: 20px;
  }
}

.tg-content::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #ffac00;

  z-index: 1;
  /* */
  width: calc(100vh / 8);
  height: calc(100vh / 8);
  left: 4px;
  top: 20px;
  /* */
  animation: 6s ease-in-out 1 ball2;
}

@keyframes ball3 {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  80% {
    opacity: 0.2;
    width: 4px;
    height: 4px;
  }

  85% {
    opacity: 0.3;
  }

  90% {
    opacity: 0.5;
  }

  95% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.3;
    width: calc(100vh / 6);
    height: calc(100vh / 6);
  }
}

.content.tg::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #ffac00;
  z-index: 1;
  /* */
  opacity: 0.3;
  width: calc(100vh / 6);
  height: calc(100vh / 6);
  left: 50%;
  top: 50%;
  /* */
  animation: 6s ease-in-out 1 ball3;
}

.tg-info-wrap {
  color: rgb(var(--invert-font-color));
  background-color: rgb(var(--background-end-rgb));
  min-width: 520px;
  max-width: 30%;
  padding: 30px;
  border-radius: 57px;
  z-index: 2;
}

/* .tg-info-slide-forward,
.tg-info-slide-back {
  position: absolute;
  opacity: 0.7;
  width: 70px;
  height: 70px;
  top: 50%;
  border-radius: 50%;
  color: rgb(var(--background-end-rgb));
  background-color: #ffac00;
}

.tg-info-slide-forward:disabled,
.tg-info-slide-back:disabled {
  opacity: 0.2;
  pointer-events: none;
}

.tg-info-slide-forward:hover,
.tg-info-slide-back:hover {
  opacity: 1;
}

.tg-info-slide-forward::after,
.tg-info-slide-back::after,
.tg-info-slide-forward::before,
.tg-info-slide-back::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 3px;
  background: white;
  left: 50%;
}

.tg-info-slide-forward::after,
.tg-info-slide-back::after {
  transform: translate(-50%, -50%) rotate(-135deg);
  top: calc(50% - 9px);
}

.tg-info-slide-forward::before,
.tg-info-slide-back::before {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: calc(50% + 9px);
}

.tg-info-slide-forward::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.tg-info-slide-forward::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.tg-info-slide-back {
  left: 0;
}

.tg-info-slide-forward {
  right: 0;
} */

.tg-link {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(var(--yellow-background));
  padding: 13px;
  border-radius: 24px;
}

.content.faq {
  color: rgb(var(--invert-font-color));
}

.faq-questions .faq-answer {
  margin-top: 10px;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 5px;
  background: linear-gradient(
    rgba(var(--background-start-rgb), 0.9),
    rgba(var(--background-end-rgb), 0.9)
  );
}

.faq-questions .faq-element {
  display: grid;
  grid-template-rows: 30px 0fr;
  transition: grid-template-rows ease-in-out 500ms;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  background: rgba(var(--invert-font-color), 0.2);
}

.faq-questions .faq-element.show {
  grid-template-rows: 30px 1fr;
  padding: 10px 10px 10px 10px;
  transition: grid-template-rows cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.faq-questions .faq-element.show .faq-answer {
  padding: 10px;
}

.faq-questions .faq-question {
  cursor: pointer;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.faq-questions .faq-question .switcher {
  position: relative;
  height: 30px;
  width: 30px;
  border: 5px solid rgb(var(--invert-font-color));
  border-radius: 5px;
}

.faq-questions .faq-question .switcher::after,
.faq-questions .faq-question .switcher::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background: rgb(var(--invert-font-color));
  transition: all ease-in-out 500ms;
}

.faq-questions .faq-question .switcher::after {
  width: 5px;
  height: 15px;
}

.faq-questions .faq-question .switcher::before {
  width: 15px;
  height: 5px;
}

.faq-questions .faq-element.show .faq-question .switcher::after,
.faq-questions .faq-element.show .faq-question .switcher::before {
  transform: translate(50%, 50%) rotate(90deg);
}

.faq-questions .faq-element.show .faq-question .switcher::before {
  width: 5px;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.phone-number {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  cursor: pointer;
  position: relative;
}

span.protectedNumber:before {
  content: "Позвоните нам: " attr(data-pn);
}

.copied::after {
  content: "Скопировано!";
  position: absolute;
  top: calc(100% + 10px);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  z-index: 20;
  color: white;
  box-shadow: 1px 1px 12px 2px rgb(var(--box-shadow));
  background: rgb(var(--icon-background));
  animation: hide 1 2s;
}

@media screen and (max-width: 1270px) {
  /* .main-description {
    font-size: 24px;
  } */

  section.content.agitate {order: 1;}
  section.content.courses {order: 2;}
  section.content.prices {order: 3;}
  section.content.tg {order: 4;}
  section.content.faq {order: 5;}

  /* .courses .target-list {
    flex-wrap: wrap;
    /* max-height: 100%;
  } */
}

@media screen and (max-width: 1090px) {
  /* .courses .target-list {
    overflow: auto;
    justify-content: unset;
  }
  .courses .target-list .target-wrapper:hover {
    padding-top: 20px;
  } */
  .tg-info::before {
    opacity: 0.3;
    pointer-events: none;
  }
}

@media screen and (max-width: 840px) {
  .header,
  section.content.agitate .main-section-content {
    padding: 10px;
  }

  /* .courses {
    padding: 10px;
  } */

  /* section.content.students .float-care {
    width: 100%;
    text-align: center;
  } */

  .tg-content {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .tg-content .pic {
    order: -1;
  }

  section.content.faq {
    padding: 10px;
  }
}

.top-links.burger-menu {
  display: none;
}

@media screen and (max-width: 750px) {
  body {
    color: #ffffff;
    font-weight: normal;
  }

  h1 {
    font-size: 1.5em;
  }

  .header .top-links {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .top-links.wide-menu {
    display: none;
  }

  .top-links.burger-menu {
    display: grid;
    position: absolute;
  }

  .modal {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 630px) {
  .main-description {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    background: linear-gradient(
      rgba(var(--background-start-rgb), 0.2),
      rgba(var(--background-end-rgb), 0.2)
    );
  }

  .top-links.right {
    display: none;
  }

  /* .wave-text {
    margin: 0 auto;
  } */

  .main-section-content .request-free-lesson-button {
    max-width: fit-content;
    margin: 10px auto;
  }

  .tg-info-wrap {
    min-width: calc(100% - 10px);
  }

  /* .courses .target-list .target-wrapper .target {
    font-size: calc(0.2vw + 0.1vh + 4vmin);
  } */

  .bottom-promo,
  .float-care {
    padding: 10px;
    background: linear-gradient(
      rgba(var(--background-start-rgb), 0.2),
      rgba(var(--background-end-rgb), 0.2)
    );
  }

  .bottom-promo {
    font-size: 0.7em;
  }

  .bottom-promo .promo-item {
    margin-bottom: 0;
    justify-content: space-between;
  }

  .faq-question {
    text-align: left;
  }
}
