/* body {
  background: #ffffff;
} */

body {
  /* background: linear-gradient(#fead0d, #feb62c); */
  color: #ffffff;
  font-weight: bolder;
}

.header {
  position: absolute;
  top: 0;
  z-index: 2;
}

.content {
  height: 100vh;
}

.agitate {
  position: relative;
  background: linear-gradient(
    to left,
    var(--background-orange-start),
    var(--background-orange-end)
  );
  background-image: url("/img/girl-stupid.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: auto 100%; */
  background-size: cover;
  /* height: 100vh; */
}

.students {
  position: relative;
  background: linear-gradient(
    to left,
    var(--background-orange-start),
    var(--background-orange-end)
  );
  background-image: url("/img/woman-smile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bottom-promo .promo-item {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  margin-bottom: 30px;
}

.bottom-promo .promo-item h2,
.bottom-promo .promo-item p {
  text-align: center;
}

.bottom-promo .promo-item img {
  margin-top: 15px;
  width: 50%;
  height: auto;
}

.welcome .top-links,
.agitate,
.bottom-promo {
  text-shadow: 2px 0 var(--text-shadow), -2px 0 var(--text-shadow),
    0 2px var(--text-shadow), 0 -2px var(--text-shadow),
    1px 1px var(--text-shadow), -1px -1px var(--text-shadow),
    1px -1px var(--text-shadow), -1px 1px var(--text-shadow);
}

/* :root {
  --foreground-rgb: 255, 0, 0;
  --background-start-rgb: 0, 219, 220;
  --background-end-rgb: 0, 255, 255;
  --invert-font-color: 255,255, 255;
} */

/* #section-3 {
  background: linear-gradient(rgb(var(--background-start-rgb)), rgb(var(--background-start-rgb)));
} */

/* @media (prefers-color-scheme: dark) {
  #section-3 {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* .faq-questions {
  display: flex;
  gap: 20px;
  margin: 50px;
} */

#section-3 {
  color: rgb(var(--invert-font-color));
}

.faq-questions .faq-answer {
  margin-top: 10px;
  padding-left: 10px;
}

.footer {
  /* justify-self: flex-end; */
  margin-top: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
}
